* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%), #090a0f;
    color: white;
}

button {
    background-color: #212121;
    color: white;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}