.grid {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
}

.grid .unit-btn {
    aspect-ratio: 1/1;
    width: 100px;
}

.unit-btn {
    border-radius: 50%;
    background-color: #0080ff;
    color: white;
    font-weight: 900;
}