* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d2d2d;
    color: white;
}

.unit-grid {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
}


.unit-btn {
    aspect-ratio: 1/1;
    padding: 3rem;
    color: white;
    background: rgba(2, 2, 2, 0.295);
    border: none;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.unit-modal {
    width: 200px;
    background-color: #00379d;
    padding: 10px;
    border-radius: 10px;
}

.unit-modal button {
    padding: 5px 15px;
}
