input {
    padding: 10px;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;

}

textarea {
    padding: 10px;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

button {
    padding: 10px;
}

#category-item-container {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    border-radius: 5px;
    border: 1px solid #939393;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

#category-item {
    display: none;
}

#subject-container {
    display: none;
}

#subject-item {
    display: none;
}

#course-container {
    display: none;
}

#course-item {
    display: none;
}

#unit-container {
    display: none;
}

#unit-item {
    display: none;
}

#lesson-container {
    display: none;
}

#lesson-item {
    display: none;
}

#content-container {
    display: none;
}

#content-item {
    display: none;
}

#question-container {
    display: none;
}

#question-item {
    display: none;
}