.category-item {
    width: 200px;
    background-color: #4d8bff;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.subject-item {
    width: 200px;
    background-color: #009d86;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.course-item {
    width: 200px;
    background-color: #ff9d00;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.module-item {
    width: 200px;
    background-color: #ff0000;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.lesson-item {
    width: 200px;
    background-color: #00ff00;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.content-item {
    width: 200px;
    background-color: #0000ff;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}