input {
    padding: 10px;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;

}

textarea {
    padding: 10px;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

button {
    padding: 10px;
}

#category-item-container {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    border-radius: 5px;
    border: 1px solid #939393;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.action-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.action-button-container button {
    padding: 5px 10px;
    background-color: #212121;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border: none;
}

#edit-category-btn {
    background-color: #006eff;
}

#delete-category-btn {
    background-color: #ff0000;
}

#edit-category-btn:hover {
    background-color: #006eff90;
}

#delete-category-btn:hover {
    background-color: #ff000090;
}

.action-button-container button:hover {
    cursor: pointer;
}



#category-item {
    display: none;
}

#subject-container {
    display: none;
}

#subject-item {
    display: none;
}

#course-container {
    display: none;
}

#course-item {
    display: none;
}

#unit-container {
    display: none;
}

#unit-item {
    display: none;
}

#lesson-container {
    display: none;
}

#lesson-item {
    display: none;
}

#content-container {
    display: none;
}

#content-item {
    display: none;
}

#question-container {
    display: none;
}

#question-item {
    display: none;
}